data
data_permanent
package_versions.txt
.DS_Store
divshift/
__pycache__/
sh_scripts
**/__pycache__
**/.ipynb_checkpoints
.ipynb_checkpoints/
runs/
models
.ipynb
.DS_Store
.pyc
.log
.ipynb_checkpoints
out/
notebooks/
